body {
    background-image: url("../images/bg.jpg");
    background-position: initial;
    background-repeat: repeat-y;
    background-size: 100%;
    position: relative;
    color: white;
    margin: 2%;
}

h1 {
    float: right;
    color: white;
    margin-right: 10%;
    margin-bottom: 5%;
    /* margin-top: 3%; */
    font-size: 5ch;
    font-family: 'Press Start 2P', cursive;
}

.characteres {
    margin-top: 4%;
    font-family: 'Chango', cursive;
}

#userCharacter {
    margin-top: 1%;
    display: none;
}

.border {
    display: inline-block;
    background: white;
    height: 145px;
    border: 2px;
    border-style: solid;
    border-color: green;
    color: black;
    font-size: 1ch;
    text-align: center;
    line-height: 1.5;
    margin-top: 4%;
    font-family: 'Chango', cursive;
}

img {
    padding: 0;
    margin: 0;
}

#button {
    display: none;
    font-size: 2ch;
    width: 100px;
    font-family: 'Chango', cursive;
    margin: 4%;
}

.selected {
    display: inline-block;
}

h2 {
    margin-top: 4%;
    font-family: 'Chango', cursive;
}